a{
    font-size : 15px;
    color: black;
    background-color: buttonface;
    border: 1px solid buttonborder;
    padding: 1px 12px;
    text-decoration: none;
    border-radius: 3px;
}
@media (min-width: 1000px) {
    a{
        font-size : 15px;
        color: yellow;
        background-color: red;
        border: 1px solid green;
        padding: 1px 12px;
        text-decoration: none;
        border-radius: 3px;
    }
}